# IDE
.idea/
.vscode/
*.iml

# Système
.DS_Store
Thumbs.db

# Back-end (Gradle / Java)
backend/build/
backend/.gradle/

# Front-end (Node / Nuxt)
frontend/node_modules/
frontend/.nuxt/
frontend/.output/

# Secrets
.env
